.top_button{
    margin-bottom: 10px;
}

.details_panel{
    margin-bottom: 10px;
    width: 300px;
}

.parking_panel{
    margin-right: 15px
}

.titles{
    margin-right: 15px
}

.align_center{
    text-align: center;
}

